flows.json
[
    {
        "id": "a8945f34d4dd5cac",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b5195ea8661efc26",
        "type": "arduino-board",
        "device": "COM5"
    },
    {
        "id": "faa8d7add9da966d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4f0b7ee80da28464",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "151178699116b286",
        "type": "ui_group",
        "name": "Default",
        "tab": "faa8d7add9da966d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9df2cf3e2382879b",
        "type": "arduino in",
        "z": "a8945f34d4dd5cac",
        "name": "",
        "pin": "0",
        "state": "ANALOG",
        "arduino": "b5195ea8661efc26",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "d64a22313835c7b1",
                "171432e943043154"
            ]
        ]
    },
    {
        "id": "d64a22313835c7b1",
        "type": "ui_gauge",
        "z": "a8945f34d4dd5cac",
        "name": "Decimal",
        "group": "151178699116b286",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Decimal",
        "label": "units",
        "format": "{{value}}",
        "min": "165",
        "max": "945",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 420,
        "y": 100,
        "wires": []
    },
    {
        "id": "171432e943043154",
        "type": "function",
        "z": "a8945f34d4dd5cac",
        "name": "",
        "func": "msg.payload = msg.payload * 0.0064267352 - 1.060411311;\nmsg.payload = parseFloat(msg.payload).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "cad0833598de5612",
                "5453603e4d7d6d57"
            ]
        ]
    },
    {
        "id": "cad0833598de5612",
        "type": "ui_gauge",
        "z": "a8945f34d4dd5cac",
        "name": "Tensao",
        "group": "151178699116b286",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tensao (V)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 460,
        "y": 200,
        "wires": []
    },
    {
        "id": "5453603e4d7d6d57",
        "type": "function",
        "z": "a8945f34d4dd5cac",
        "name": "",
        "func": "msg.payload = msg.payload * 36;\nmsg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 280,
        "wires": [
            [
                "5a2ccf05da2e8d86"
            ]
        ]
    },
    {
        "id": "5a2ccf05da2e8d86",
        "type": "ui_gauge",
        "z": "a8945f34d4dd5cac",
        "name": "Graus",
        "group": "151178699116b286",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Graus (°C)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 610,
        "y": 280,
        "wires": []
    }
]