Json2
[
    {
        "id": "a8945f34d4dd5cac",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e850d40fb351ed9",
        "type": "ui_gauge",
        "z": "a8945f34d4dd5cac",
        "name": "Decimal",
        "group": "151178699116b286",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Decimal",
        "label": "units",
        "format": "{{value}}",
        "min": "163",
        "max": "945",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 280,
        "y": 100,
        "wires": []
    },
    {
        "id": "c4bd397788083e42",
        "type": "function",
        "z": "a8945f34d4dd5cac",
        "name": "",
        "func": "msg.payload = msg.payload * 0.0064267352 - 1.060411311;\nmsg.payload = parseFloat(msg.payload).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 180,
        "wires": [
            [
                "b88f1f0c33824644",
                "bd407bd8c73f9d1f"
            ]
        ]
    },
    {
        "id": "b88f1f0c33824644",
        "type": "ui_gauge",
        "z": "a8945f34d4dd5cac",
        "name": "Tensao",
        "group": "151178699116b286",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tensao (V)",
        "label": "units",
        "format": "{{value}}",
        "min": "0.87",
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "bd407bd8c73f9d1f",
        "type": "function",
        "z": "a8945f34d4dd5cac",
        "name": "",
        "func": "msg.payload = msg.payload * 36;\nmsg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 260,
        "wires": [
            [
                "fd0e624ae11496aa",
                "bc15d2c805021b9b"
            ]
        ]
    },
    {
        "id": "fd0e624ae11496aa",
        "type": "ui_gauge",
        "z": "a8945f34d4dd5cac",
        "name": "Graus",
        "group": "151178699116b286",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Graus (°)",
        "label": "units",
        "format": "{{value}}",
        "min": "1.2",
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "5dd2959f2e05aa03",
        "type": "arduino in",
        "z": "a8945f34d4dd5cac",
        "name": "",
        "pin": "0",
        "state": "ANALOG",
        "arduino": "b5195ea8661efc26",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "4e850d40fb351ed9",
                "c4bd397788083e42"
            ]
        ]
    },
    {
        "id": "44adc32d796ad127",
        "type": "ui_text",
        "z": "a8945f34d4dd5cac",
        "group": "151178699116b286",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Erro maximo: 5.88°",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 270,
        "y": 320,
        "wires": []
    },
    {
        "id": "d5f0c071a4a7aa8e",
        "type": "ui_gauge",
        "z": "a8945f34d4dd5cac",
        "name": "Graus",
        "group": "151178699116b286",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Graus Arrumado (°)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 830,
        "y": 360,
        "wires": []
    },
    {
        "id": "bc15d2c805021b9b",
        "type": "function",
        "z": "a8945f34d4dd5cac",
        "name": "",
        "func": "if (msg.payload < 10){\n    msg.payload = msg.payload;\n}else if (msg.payload > 11 || msg.payload < 20){\n    msg.payload = msg.payload;\n}else if (msg.payload > 21 || msg.payload < 30){\n    msg.payload = msg.payload;\n}else if (msg.payload > 31 || msg.payload < 40){\n    msg.payload = msg.payload;\n}else if (msg.payload > 41 || msg.payload < 50){\n    msg.payload = msg.payload;\n}else if (msg.payload > 51 || msg.payload < 60){\n    msg.payload = msg.payload;\n}else if (msg.payload > 61 || msg.payload < 70){\n    msg.payload = msg.payload;\n}else if (msg.payload > 71 || msg.payload < 80){\n    msg.payload = msg.payload;\n}else if (msg.payload > 81 || msg.payload < 90){\n    msg.payload = msg.payload;\n}else if (msg.payload > 91 || msg.payload < 100){\n    msg.payload = msg.payload;\n}else if (msg.payload > 101 || msg.payload < 110){\n    msg.payload = msg.payload;\n}else if (msg.payload > 111 || msg.payload < 120){\n    msg.payload = msg.payload;\n}else if (msg.payload > 121 || msg.payload < 130){\n    msg.payload = msg.payload;\n}else if (msg.payload > 131 || msg.payload < 140){\n    msg.payload = msg.payload;\n}else if (msg.payload > 141 || msg.payload < 150){\n    msg.payload = msg.payload;\n}else if (msg.payload > 151 || msg.payload < 160){\n    msg.payload = msg.payload;\n}else if (msg.payload > 161 || msg.payload < 170){\n    msg.payload = msg.payload;\n}else if (msg.payload < 171){\n    msg.payload = msg.payload;\n}\nmsg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 360,
        "wires": [
            [
                "d5f0c071a4a7aa8e"
            ]
        ]
    },
    {
        "id": "151178699116b286",
        "type": "ui_group",
        "name": "Default",
        "tab": "faa8d7add9da966d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5195ea8661efc26",
        "type": "arduino-board",
        "device": "COM5"
    },
    {
        "id": "faa8d7add9da966d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
